<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layout.html}">
<head></head>
<body>
<div layout:fragment="contents">
    <section class="expenseList">

        <form method="post" action="/expense.action">
            <label>Description</label>
            <br>
            <input id="description" name="Description" type="text">
            <br>
            <label>Date(dd/mm/yyyy e.g 21/10/2021)</label>
            <br>
            <input id="date" name="Date" type="date">
            <br>
            <label>Amount(no cents allowed)</label>
            <br>
            <input id="amount" name="Amount" type="number" min="0">
            <br>
            <input id="submit" name="submit" type="submit" value="submit"/>
        </form>

        <p id="no_expenses" th:if="${#lists.isEmpty(expenses)}"></p>
    </section>
</div>
</body>

</html>